@import "compass/css3/box";

/* Overall color scheme, etc */
$positive-color : #36ac9c;
$negative-color : #f9a72b;
$active-color: #fddf24;
$border-radius: 20px;

/* The nested page components */
#container {
    margin: 20px 20px 20px 20px;
    width: 1100px;

    #titlebar {
        padding-left: 30px;
        margin-bottom: -3px; /* To lay exactly on the border of the body */
        font-size: 20pt;
        font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    }

    #body {
        border: 1px solid black;
        border-radius: $border-radius;
        background-color: #f4f4f4;

        #aggregates {
            height: 200px;

            .bar.positive {
                fill: $positive-color;
            }
            
            .bar.negative {
                fill: $negative-color;
            }
        }

        #hourly {
            @include display-box;
            @include box-orient(horizontal);

            >div {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .label { 
                height: 40px; 
            } /* The label above, outside the border */

            .content { 
                height: 450px; /* The rounded border bit */
                border: 1px solid black;
                border-radius: $border-radius;
                overflow: hidden; /* To round the corner of the map */
                
                .header { 
                    padding-top: 10px;
                    padding-left: 30px;
                    height: 30px; 
                    border-bottom: 1px solid black;
                } /* The label within the rounded border */
            }

            #station-chart {
                width: 400px;

                .line {
                    fill: none;
                    stroke-width: 1.5px;
                }
                .line.arrivals {
                    stroke: $positive-color;
                }
                .line.departures {
                    stroke: $negative-color;
                }
            }

            #map { 
                width: 660px;
                height: 410px; /* Leaflet requires this to know how tall */
            }
        }
    }
}



