@import "compass/css3";
@import "compass/css3/box";

/* Overall color scheme, etc */
$positive-color : #2c826b;//36ac9c;
$negative-color : #8B2A2F;//F65650; //f9a72b;
$highlighted-color: #fddf24;
$selected-color: #dad3ad; // #c7bb79;//#d9c702;
$border-radius: 20px;
$neutral-color: #b4aca8;//c7bb79;

/* Constants that CSS could calculate, but we hard-code so Leaflet can work */
$panel-header-height: 30px;
$panel-footer-height: 20px;
$panel-content-height: 390px;
$panel-height: $panel-header-height + $panel-footer-height + $panel-content-height + 8px; /* No idea where the 10px comes from */

$map-legend-height: 180px + 1px; // the height of the png legend
/* Easier to measure things with this */
body,div,span,header,footer,h1,h2,h3,h4 {
    @include box-sizing(border-box);
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

/* 
 * Principle layout
 */
#container {
    margin: 5px 20px 20px 20px;
    width: 1220px;

    #titlebar {
        padding-left: 30px;
        margin-bottom: -3px; /* To lay exactly on the border of the body */
        font-size: 20pt;
	#sub-title {	    
	    font-size: 12pt;
	    font-style: italic;	
	}
        #help-link {
            float: right;
            font-size: 8pt;
        }
    }

    #body {
        border: 1px solid black;
        border-radius: $border-radius;
        background-color: #f4f4f4;

        #panels {
            @include display-box;
            @include box-orient(horizontal);
        }
    }
}

/* 
 * Various components pulled out and referenced by id to reduce SCSS indentation
 */

/* General bits for the chart panel with rounded corners, a header, and a footer */
.panel {
    height: $panel-height;
    margin: 0.5em;
    border: 1px solid black;
    border-radius: $border-radius;
    overflow: hidden; /* To round the corner of the map */
    
    header { 
        display: block;
        padding-top: 10px;
        padding-left: 30px;
        height: $panel-header-height;
        
        font-weight: bold;
        font-size: 10pt;
        border-bottom: 1px solid black;
    } 

    div.content {
        display: block;
        height: $panel-content-height;
    }

    footer {
        height: $panel-footer-height;
        display: block;
        border-top: 1px solid black;
        padding-top: 5px;
        padding-left: 20px;
        font-style: italic;
        font-size: 10pt;
    }
}

/* Map */
#map-panel {
    #map { 
        width: 770px;
        height: $panel-content-height;
    }
    #map-legend {
        position: relative;
        left: -1px;
	top: -$map-legend-height;
        border: 1px solid black;
    }
}

/* Hour controls */
#hour-controls {
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(center);

    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-left: 10px;
    width: 100%;
    font-size: 8pt;
    
    .hour {
        margin: -3px;
        padding: 8px;
        border-radius: 5px;
	min-width: 35px;
        cursor: hand;
        text-align: center;
    }
    .hour:hover {
        border: 1px solid black;
        margin: -4px;
        background-color: $highlighted-color;
    }
    .hour.selected {
        border: 2px solid black;
        margin: -5px;
        background-color: $selected-color;
        fill-opacity: 0.5;
    }
}

/* Station line chart panel */
#station-chart-panel {
    width: 400px;

    .title {
    	margin-top: 3px;
        height: 10px;
        padding-left: 50px;

        font-size: 8pt;
        color: black;
    }
    
    #station-chart {
        height: $panel-content-height - 10px;
        
        .title {
            font-family: sans-serif;    
            font-size: 12px;
        }
    
        .line {
            fill: none;
            stroke-width: 3px;
        }
        .line.arrivals {
            stroke: $positive-color;
        }
        .line.departures {
            stroke: $negative-color;
        }
        .area {
            opacity: 0.25;
        }
        .area.arrivals{
            fill: $positive-color;  
        }
        .area.departures{
            fill: $negative-color;  
        }
        
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        
        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }
        .y.axis path {
            display: none;
        }
    }
}

/* Accumulation bar chart */
#accumulation-chart-container {
    #accumulation-chart {
        height: 350px;
        margin-top: 30px;
        margin-bottom: 30px;
    
    
        .bar-label { font-size: 8pt; }
        .bar-label.positive { text-anchor: end; }
        .bar-label.negative { text-anchor: start; }
    
        .bar {
            stroke: black;
            stroke-width: 1px;
            border: 1px solid black;
            fill-opacity: 0.6;
        }
        
        .bar.positive { fill: $positive-color; }
        .bar.negative { fill: $negative-color; }
        .bar.neutral { fill: $neutral-color; }
        .bar.highlighted { fill: $highlighted-color; stroke-width:2px; }
        
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        
        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }
        .bary.axis path {
            display: none;
        }
    
        .activator {
            stroke-width: 0px;
            fill-opacity: 0.0;
        }
        
        .activator.highlighted {
            fill-opacity: 0.5;
            fill: #ffffff;
        }
        
        .activator.selected {
            fill: #cccccc;
            fill-opacity: 0.5;
        }
    }
}

/* Nicer styles for the english-language accompanying this. */
#narrative * {
    font-family: "Century Schoolbook";
    margin-left: 10px;

    h2 {
        font-family: inherit;
        font-weight: bold;
        margin-bottom: 1em;
    }
    ul { list-style: circle outside none; }
    em { font-style: italic; }
    p { margin-bottom: 1em; }
}

/* Hacks for the help */
#help {
    td em { white-space:nowrap; }
    td {
        padding: 1em;
        vertical-align: top;
    }
}

#blurbs {
	
  .blurb-head {
        padding-left: 30px;
        font-size: 20pt;
   }
   .blurb-body{
        padding-left: 30px;
        font-size: 10pt;
   }
}
