@import "compass/css3";
@import "compass/css3/box";

/* Overall color scheme, etc */
$positive-color : #36ac9c;
$negative-color : #f9a72b;
$active-color: #fddf24;
$selected-color: #fddf24;
$border-radius: 20px;

/* Easier to measure things with this */
div {
    @include box-sizing(border-box);
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

/* The nested page components */
#container {
    margin: 5px 20px 20px 20px;
    width: 1220px;

    #titlebar {
        padding-left: 30px;
        margin-bottom: -3px; /* To lay exactly on the border of the body */
        font-size: 20pt;
    }

    #body {
        border: 1px solid black;
        border-radius: $border-radius;
        background-color: #f4f4f4;

        #aggregates {
            height: 150px;

            .bar-label {
                font-size: 8pt;
            }

            .bar-label.positive {
                text-anchor: end;
            }
            .bar-label.negative {
                text-anchor: start;
            }

            .bar {
                stroke: black;
                stroke-width: 1px;
                border: 1px solid black;
            }

            .bar.positive {
                fill: $positive-color;
            }
            
            .bar.negative {
                fill: $negative-color;
            }
            .bar.active {
                fill: $active-color;
                stroke-width:2px;
            }

            .activator {
                stroke-width: 0px;
                fill-opacity: 0.0;
            }
            /* TODO: we actually need to bind to hover with jQuery so we can modify the rect & label, not the activator bar*/
            .activator:hover {
                fill-opacity: 0.5;
                fill: #ffffff;
            }
        }

        #hourly {
            @include display-box;
            @include box-orient(horizontal);

            >div {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .label { 
                height: 40px; 
            } /* The label above, outside the border */

            .content { 
                height: 450px; /* The rounded border bit */
                border: 1px solid black;
                border-radius: $border-radius;
                overflow: hidden; /* To round the corner of the map */
                
                .header { 
                    padding-top: 10px;
                    padding-left: 30px;
                    height: 30px; 
                    border-bottom: 1px solid black;
                } /* The label within the rounded border */
            }

            #station-chart {
                width: 400px;

                #line-chart {
                    height: 340px;
                    margin-top: 40px; /* Outside the border */
                }

                .header {
                    @include display-box;
                    white-space: nowrap;

                    #title-hourly {
                        width: 320px;
                        overflow: hidden;
                    }
                    
                    img#station-deselect {
                        width: 18px;
                        height: 18px;
                        padding-left: 10px;
                        margin-top: -5px;
                    }
                }

                .line {
                    fill: none;
                    stroke-width: 2px;
                }
                .line.arrivals {
                    stroke: $positive-color;
                }
                .line.departures {
                    stroke: $negative-color;
                }
                .axis path,
                .axis line {
                    fill: none;
                    stroke: black;
                    shape-rendering: crispEdges;
                }
                
                .axis text {
                    font-family: sans-serif;
                    font-size: 11px;
                }
                .y.axis path {
                    display: none;
                }
            }
            
            #map-container {
                .header #hours {
                    text-align: center;
                }

                #map { 
                    width: 770px;
                    height: 400px; /* Leaflet requires this to know how tall */
                }
            }
        }
    }
}



