@charset "UTF-8";
/* Overall color scheme, etc */
/* Easier to measure things with this */
/* line 12, ../sass/viz.scss */
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

/* The nested page components */
/* line 18, ../sass/viz.scss */
#container {
  margin: 5px 20px 20px 20px;
  width: 1220px;
}
/* line 22, ../sass/viz.scss */
#container #titlebar {
  padding-left: 30px;
  margin-bottom: -3px;
  /* To lay exactly on the border of the body */
  font-size: 20pt;
}
/* line 28, ../sass/viz.scss */
#container #body {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f4f4f4;
}
/* line 33, ../sass/viz.scss */
#container #body #aggregates {
  height: 150px;
  /* TODO: we actually need to bind to hover with jQuery so we can modify the rect & label, not the activator bar*/
}
/* line 36, ../sass/viz.scss */
#container #body #aggregates .bar-label {
  font-size: 8pt;
}
/* line 40, ../sass/viz.scss */
#container #body #aggregates .bar-label.positive {
  text-anchor: end;
}
/* line 43, ../sass/viz.scss */
#container #body #aggregates .bar-label.negative {
  text-anchor: start;
}
/* line 47, ../sass/viz.scss */
#container #body #aggregates .bar {
  stroke: black;
  stroke-width: 1px;
  border: 1px solid black;
}
/* line 53, ../sass/viz.scss */
#container #body #aggregates .bar.positive {
  fill: #36ac9c;
}
/* line 57, ../sass/viz.scss */
#container #body #aggregates .bar.negative {
  fill: #f9a72b;
}
/* line 60, ../sass/viz.scss */
#container #body #aggregates .bar.highlighted {
  fill: #fddf24;
  stroke-width: 2px;
}
/* line 65, ../sass/viz.scss */
#container #body #aggregates .axis path,
#container #body #aggregates .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
/* line 71, ../sass/viz.scss */
#container #body #aggregates .axis text {
  font-family: sans-serif;
  font-size: 11px;
}
/* line 75, ../sass/viz.scss */
#container #body #aggregates .bary.axis path {
  display: none;
}
/* line 79, ../sass/viz.scss */
#container #body #aggregates .activator {
  stroke-width: 0px;
  fill-opacity: 0.0;
}
/* line 84, ../sass/viz.scss */
#container #body #aggregates .activator:hover {
  fill-opacity: 0.5;
  fill: #ffffff;
}
/* line 90, ../sass/viz.scss */
#container #body #hourly {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  /* The label above, outside the border */
}
/* line 94, ../sass/viz.scss */
#container #body #hourly > div {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 99, ../sass/viz.scss */
#container #body #hourly > div .content-footer {
  padding-top: 5px;
  padding-left: 20px;
  font-style: italic;
  font-size: 10pt;
}
/* line 107, ../sass/viz.scss */
#container #body #hourly .label {
  height: 40px;
}
/* line 111, ../sass/viz.scss */
#container #body #hourly .content {
  height: 450px;
  /* The rounded border bit */
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  /* To round the corner of the map */
  /* The label within the rounded border */
}
/* line 117, ../sass/viz.scss */
#container #body #hourly .content .header {
  padding-top: 10px;
  padding-left: 30px;
  height: 30px;
  border-bottom: 1px solid black;
}
/* line 125, ../sass/viz.scss */
#container #body #hourly #station-chart {
  width: 400px;
}
/* line 128, ../sass/viz.scss */
#container #body #hourly #station-chart #line-chart {
  height: 350px;
  margin-top: 40px;
  /* Outside the border */
}
/* line 133, ../sass/viz.scss */
#container #body #hourly #station-chart .header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  white-space: nowrap;
}
/* line 137, ../sass/viz.scss */
#container #body #hourly #station-chart .header #title-hourly {
  width: 320px;
  overflow: hidden;
}
/* line 142, ../sass/viz.scss */
#container #body #hourly #station-chart .header img#station-deselect {
  width: 18px;
  height: 18px;
  padding-left: 10px;
  margin-top: -5px;
}
/* line 150, ../sass/viz.scss */
#container #body #hourly #station-chart .line {
  fill: none;
  stroke-width: 2px;
}
/* line 154, ../sass/viz.scss */
#container #body #hourly #station-chart .line.arrivals {
  stroke: #36ac9c;
}
/* line 157, ../sass/viz.scss */
#container #body #hourly #station-chart .line.departures {
  stroke: #f9a72b;
}
/* line 161, ../sass/viz.scss */
#container #body #hourly #station-chart .axis path,
#container #body #hourly #station-chart .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
/* line 167, ../sass/viz.scss */
#container #body #hourly #station-chart .axis text {
  font-family: sans-serif;
  font-size: 11px;
}
/* line 171, ../sass/viz.scss */
#container #body #hourly #station-chart .y.axis path {
  display: none;
}
/* line 177, ../sass/viz.scss */
#container #body #hourly #map-container .header #hours {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  width: 100%;
  margin-top: -5px;
}
/* line 184, ../sass/viz.scss */
#container #body #hourly #map-container .header #hours div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 188, ../sass/viz.scss */
#container #body #hourly #map-container .header #hours img#hour-deselect {
  width: 18px;
  height: 18px;
}
/* line 193, ../sass/viz.scss */
#container #body #hourly #map-container .header #hours .hour {
  padding: 2px;
  border-radius: 5px;
  cursor: hand;
  text-align: center;
}
/* line 199, ../sass/viz.scss */
#container #body #hourly #map-container .header #hours .hour:hover {
  border: 1px solid black;
  margin: -1px;
  background-color: #fddf24;
}
/* line 204, ../sass/viz.scss */
#container #body #hourly #map-container .header #hours .hour.selected {
  border: 2px solid black;
  margin: -1px;
  background-color: #d9c702;
}
/* line 212, ../sass/viz.scss */
#container #body #hourly #map-container #map {
  width: 770px;
  height: 390px;
  /* Leaflet requires this to know how tall */
}
